{% extends "@PlatformCMS/admin.html5.twig" %}

{% block layout %}
	{% block navbar %}
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://{{ app.request.host }}/" style="padding-top: 5px;" title="Перейти в публичную часть сайта.">
					<img alt="Platform CMS" src="{{ app.getOption('admin.logotype') }}" class="admin-small-logo">
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				{{ knp_menu_render('admin_main', {style: 'navbar', class: 'collapse navbar-collapse'}, 'twig') }}
			</div>
		</div>
	</nav>
	{% endblock navbar %}

	<div class="container">
		{% set close = true %}
		{% include '@SaxulumBootstrapProvider/flash.html.twig' %}

		{% block content %}
		{% endblock content %}
	</div>

	<div id="markdown" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>{# /.modal-content #}
		</div>{# /.modal-dialog #}
	</div>{# /.modal #}

	<div id="diffModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>{# /.modal-content #}
		</div>{# /.modal-dialog #}
	</div>{# /.modal #}

	<script id="templateSelect2Image" type="text/x-mustache">{{ block("templateSelect2Image") }}</script>
	<script id="templateSelect2Article" type="text/x-mustache">{{ block("templateSelect2Article") }}</script>
{% endblock %}

{% block usedList %}
	{% if usedList|default({})|length %}
		<hr/>

		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{- usedListTitle|default("Список связанных статьей") -}}
					</div>
					{% set icon_col_width = 80 %}
					<table class="table admin-list with-highlight">
						<colgroup>
							<col width="4"/>
							{% if icon_col_width %}<col width="{{ icon_col_width }}"/>{% endif %}
							<col width="100%"/>
						</colgroup>
						{% for item in usedList %}
							<tr>
								<td></td>
								<td>
									{% if item.icon %}
										<img src="{{ app.url('image', {hash: item.icon, width: 154, height: 96}) }}" width="77" height="48" />
									{% else %}
										<div class="content-no-icon"></div>
									{% endif %}
								</td>
								<td class="name_in_list">
									<div class="nowrap-row">
										<a href="{{ app.url('admin-content-articles-update', {id: item.id, back: app.url('admin-about') ~ '#close=Y'}) }}" target="_blank">
											{{- item.name -}}
										</a>
										{%- if item.parameters.lead|default("") -%}
											<small class="text-muted">  ●  {{ item.parameters.lead|striptags }}</small>
										{%- endif -%}
									</div>
									{% for tag in item.tags|default([])|sort if tag|first != '-' %}
										<span class="label label-default">{{ tag }}</span>
									{% else %}
										{{- " " -}}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</table>
					<div class="panel-footer"></div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{%- block templateSelect2Image -%}
	<div class="m-select2-image{{ '{{#isList}}' }} m-select2-image_view_list{{ '{{/isList}}' }} clearfix">
		<div class="m-select2-image__icon">
			{{- '{{#isList}}' -}}
				<img src="{{ '{{ icon }}' }}">
			{{- '{{/isList}}' -}}
			{{- '{{^isList}}' -}}
			<a href="{{ '{{ view }}' }}" target="_blank" title="{{ '{{ hint }}' }}">
				<img src="{{ '{{ icon }}' }}">
			</a>
			{{- '{{/isList}}' -}}
		</div>
		<div class="m-select2-image__name">
			{{- '{{#isList}}' -}}
				{{- '{{ name }}' -}}
			{{- '{{/isList}}' -}}
			{{- '{{^isList}}' -}}
			<a href="{{- '{{ edit }}' -}}" target="_blank" title="{{ '{{ name }} {{ hint }}' }}">
				{{- '{{ name }}' -}}
			</a>
			{{- '{{/isList}}' -}}
			{{- '{{^isList}}' -}}
				<br/>
				{{- '{{#tags}}' -}}
					<span class="label label-default">{{ '{{ . }}' }}</span>
				{{- '{{/tags}}' -}}
			{{- '{{/isList}}' -}}
		</div>
	</div>
{%- endblock -%}

{%- block templateSelect2Article -%}
	<div class="m-select2-article{{ '{{#isList}}' }} m-select2-article_view_list{{ '{{/isList}}' }} clearfix">
		<div class="m-select2-article__icon">
			<img src="{{ '{{ icon }}' }}">
		</div>
		<div class="m-select2-article__name">
			{{- '{{#isList}}' -}}
			{{- '{{ name }}' -}}
			{{- '{{/isList}}' -}}
			{{- '{{^isList}}' -}}
			<a href="{{- '{{ edit }}' -}}" target="_blank" title="{{ '{{ hint }}' }}">
				{{- '{{ name }}' -}}
			</a>
			{{- '{{#lead}}' -}}
			{{- ' ' -}}
			<small>
				{{- ' ● ' -}}
				{{- '{{ lead }}' -}}
			</small>
			{{- '{{/lead}}' -}}
			{{- '{{/isList}}' -}}
			{{- '{{^isList}}' -}}
			<br/>
			<span class="label label-info">{{ '{{ code }}' }}</span>
			{{- '{{#tags}}' -}}
			<span class="label label-default">{{ '{{ . }}' }}</span>
			{{- '{{/tags}}' -}}
			{{- '{{/isList}}' -}}
		</div>
	</div>
{%- endblock -%}