{% extends "@PlatformCMS/admin/_layout.html.twig" %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<span>Скачивание файла</span>
				</div>
				<div class="panel-body">
					<p>
						<strong>Внимание! </strong>
						<span>Вы можете скачать файл «<strong>{{ entity.name }}</strong>» </span>
						<a href="{{ url }}" download="{{ entity.name }}">по прямой ссылке</a>
						<span> или </span>
						<a href="{{ back }}">вернуться назад</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

	{%- set usedListTitle = "Статьи, использующие данный файл" -%}
	{{- block("usedList") -}}

{% endblock %}
