<div id="top" class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h1 class="modal-title">Формат Markdown Extra</h1>
</div>
<div class="modal-body">
	<div id="content">
		<div class="box generalbox generalboxcontent">
			<div class="article">

{% filter markdown|hyphenate %}

1. [Блочное форматирование](#blocks)
  + [Заголовки](#headers)
  + [Параграфы](#paragraphs)
  + [Списки](#lists)
  + [Определения](#listsEx)
  + [Цитирование](#quotes)
  + [Таблицы](#tables)
  + [Горизонтальные линии](#hr)
  + [Использование HTML](#htmlBlocks)
  + [Markdown в HTML блоках](#htmlMarkdown)
  + [Отмена форматрирования](#preformated)
2. [Форматирование текста](#format)
  + [Выделение текста](#emphasis)
  + [Сноски](#footnotes)
  + [Сокращения](#abbreviations)
  + [Web-ссылки](#links)
  + [Картинки](#images)
  + [Картинка со ссылкой](#imageWithLink)
  + [Использование специальных символов](#escape)
  + [Перенос строк](#linebreaks)
3. [Дополнительные возможности](#extension)
  + [Ссылки на связанные статьи](#extension_links)
  + [Вставка изображений](#extension_image)
  + [Скачивание приложенных файлов](#extension_download)

-----


## Блочное форматирование ## {{ "{#blocks}" }}

Блоки текста в Markdown разделяются одной или более пустыми строками.
Исключением являются заголовки, после которых пустая строка необязательна.


### Заголовки ### {{ "{#headers}" }}

Строка заголовка должна начинаться с символов "**#**", количество которых указывает на уровень вложенности заголовка.
Поддерживается шесть уровней вложенности заголовков.
Заголовкам можно дополнительно задавать уникальный идентификатор и CSS классы.
Идентификатор или CSS классы задаются в фигурных скопках, отделённых от заголовка символами "**#**".

*Markdown*

    # Заголовок первого уровня
	## Заголовок второго уровня ## {{ "{#id}" }}
	### Заголовок третьего уровня ### {{ "{.css_class}" }}
	#### Заголовок четвёртого уровня #### {{ "{#id .css_class}" }}
    ##### Заголовок пятого уровня #####

*HTML*

<pre><code>{%- filter markdown|escape -%}

# Заголовок первого уровня
## Заголовок второго уровня ## {{ "{#id}" }}
### Заголовок третьего уровня ### {{ "{.css_class}" }}
#### Заголовок четвёртого уровня #### {{ "{#id .css_class}" }}
##### Заголовок пятого уровня #####

{%- endfilter -%}</code></pre>

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

# Заголовок первого уровня
## Заголовок второго уровня ## {{ "{#id}" }}
### Заголовок третьего уровня ### {{ "{.css_class}" }}
#### Заголовок четвёртого уровня #### {{ "{#id .css_class}" }}
##### Заголовок пятого уровня #####

</div>

[↑ к оглавлению ↑](#top)


### Заголовки (альтернативный вариант) ###

Альтернативным вариантом обозначения заголовков первого и второго уровней является их подчеркивание знаками "**=**" или "**-**".

*Markdown*

    Заголовок первого уровня
	========================

	Заголовок второго уровня
	------------------------

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Заголовок первого уровня
========================

Заголовок второго уровня
------------------------

</div>

[↑ к оглавлению ↑](#top)

### Параграфы ### {{ "{#paragraphs}" }}

Параграфы ни какими специальными символами не выделяются.
Они начинаются с новой строки.
Параграфом считаются все строки, до первой пустой строки.

*Markdown*

    Параграф, состоящий из двух предложений.
    Каждое предложение, для примера, начинается с новой строки.

*HTML*

<pre><code>{%- filter markdown|escape -%}

Параграф, состоящий из двух предложений.
Каждое предложение, для примера, начинается с новой строки.

{%- endfilter -%}</code></pre>

[↑ к оглавлению ↑](#top)


### Списки ### {{ "{#lists}" }}

Списки состоят из строк, начинающихся со специальных символов: "**\***", "**-**", "**+**" или цифр с точкой.

*Markdown*

    * Элемент первый
	* Элемент второй
	    - Первый элемент второго уровня
	    - Второй элемент второго уровня
	        + Первый элемент третьего уровня
	        + Второй элемент третьего уровня
	            1. Первый пронумерованный элемент
	            2. Второй пронумерованный элемент

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

* Элемент первый
* Элемент второй
    - Первый элемент второго уровня
    - Второй элемент второго уровня
        * Первый элемент третьего уровня
        * Второй элемент третьего уровня
            1. Первый пронумерованный элемент
            2. Второй пронумерованный элемент

</div>

[↑ к оглавлению ↑](#top)


### Определения ### {{ "{#listsEx}" }}

Списки определений содержат термины и их описания.
Сначала идёт строка с термином, а затем строка, начинающаяся символом "**:**", с его описанием.
Следующий термин отделяется от описания текущего пустой строкой.

*Markdown*

    Markdown
	: Язык структурированной разметки текста.

	PHP
	: Интерпретируемый язык программирования.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Markdown
: Язык структурированной разметки текста.

PHP
: Интерпретируемый язык программирования.

</div>

[↑ к оглавлению ↑](#top)

### Цитирование ### {{ "{#quotes}" }}

Вы можете указать, что часть текста является цитатой, начав каждую строку с угловой скобки (>).
Этот символ выбран по той причине, что многие почтоые программы используют именно его для выделения цитат.
Результатом цитирования будет выделение абзаца отступом справа и слева.

*Markdown*

    > Это процитированный абзац
    > разделенный на две строки
    >
    > А это уже второй абзац цитаты.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

> Это процитированный абзац
> разделенный на две строки.
>
> А это уже второй абзац цитаты.

</div>

[↑ к оглавлению ↑](#top)


### Таблицы ### {{ "{#tables}" }}

Вы можете создавать простые таблицы с помощью формата Markdown.
Таблица должна обязательно иметь заголовок столбцов.
Во второй строке, отделяющей заголовок от данных, можно задать вырванивание текста, при помощи символов "**:**".

*Markdown*

    Имя      | Возраст | Год рождения
    ---------|:-------:|-------------:
    Алиса    |   29    | 1987
    Борис    |   47    | 1969
    Владимир |   32    | 1984

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Имя      | Возраст&nbsp; | &nbsp;Год рождения
---------|:-------------:|-------------:
Алиса    |   29          | 1987
Борис    |   47          | 1969
Владимир |   32          | 1984

</div>

[↑ к оглавлению ↑](#top)


### Горизонтальные линии ### {{ "{#hr}" }}

Создать горизонтальную линию можно поместив три или больше звездочек ( "**\***" ),
минусов ( "**-**" ) или подчеркиваний ( "**_**" ) на отдельной строке.

*Markdown*

    *****

    -----

    _____

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

*****

-----

_____

</div>

[↑ к оглавлению ↑](#top)


### Использование HTML ### {{ "{#htmlBlocks}" }}

Если вы знаете язык разметки HTML, то заметите, что Markdown не использует все его возможности.
К счастью Markdown разрабатывался с учетом этого и позволяет вставлять теги HTML непосредственно в форматируемый текст.

*Markdown*

    Обычный и <small>уменьшенный текст</small>.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Обычный и <small>уменьшенный текст</small>.

</div>

Имейте в виду, что HTML-разметка сосуществует с разметкой Markdown.
Это освобождает вас от необходимости использовать HTML для основных элементов оформления, таких как параграфы, списки и т.п.,
однако в необходимых случаях позволяет использовать все возможности HTML.

[↑ к оглавлению ↑](#top)


### Markdown в HTML блоках ### {{ "{#htmlMarkdown}" }}

У HTML блоков, встречающихся в тексте, можно включить обработку синтаксиса Markdown.
Для этого необходимо им добавить аттрибут "markdown" с значением "1".

*Markdown*

    <div style="background-color: #eee;" {{ "markdown='1'" }}>
    Некий **выделененный** текст.
    </div>

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

<div style="background-color: #eee;" {{ "markdown='1'" }}>
Некий **выделененный** текст.
</div>

</div>

[↑ к оглавлению ↑](#top)

### Отмена форматированния ### {{ "{#preformated}" }}

Если вы хотите, чтобы введенные теги HTML отображались в точности как вы их написали, а не использовались в оформлении текста,
то начните каждую строку с четырех пробелов.
Данный способ также применяется для отображения кусков программ.

*Markdown*

        <div>Блок</div>

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

    <div>Блок</div>

</div>

Вторым способ является обрамление отформатированного блока тремя или более символами "**~**".

*Markdown*

    ~~~
    for ($i = 0, $iCount = 100; $i < $iCount; $i++) {
        echo $i." ";
    }
    ~~~

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

~~~
for ($i = 0, $iCount = 100; $i < $iCount; $i++) {
    echo $i." ";
}
~~~
</div>

[↑ к оглавлению ↑](#top)

-----


## Форматирование текста ## {{ "{#format}" }}

Markdown позволяет оформлять не только специальные блоки, но и непосредственно сам текст.

Некоторые последовательности символов меняются на подходящие UTF символы.
К примеру, двойные кавычки ( "**\"**" ) заменяются на кавычки-ёлочки ( «» ).

Комбинация&nbsp; | &nbsp;Результат
:---------------:|:---------------:
 &nbsp;--&nbsp;  | —
 \(c\)           | ©
 \(r\)           | ®
 \(tm\)          | ™
 &nbsp;N1        | №1
 \.\.\.          | …


### Выделение текста ### {{ "{#emphasis}" }}

C помощью Markdown вы можете использовать три вида выделения: *курсив*, **полужирный** или ***полужирный курсив***.
Достичь этого можно, окружив необходимый для выделения текст звездочками.
Возможно выделение не всего слова, а только нескольких букв.
Символ подчеркивания ( "**\_**" ) может использоваться для этой же цели наравне со звездочками.

*Markdown*

    Виды выделения: *курсив*, **полужирный** или ***полужирный курсив***.

    Частичное выделение: элект**рост**анция.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Виды выделения: *курсив*, **полужирный** или ***полужирный курсив***.

Частичное выделение: элект**рост**анция.

</div>

[↑ к оглавлению ↑](#top)


### Сноски ### {{ "{#footnotes}" }}

Сноска состоит из двух элементов: маркера в тексте в виде цифры в верхнем индексе и описания,
которое отображается внизу страницы.
Вы можете поместить описания сносок в любом месте документа, в котором вам удобно.
Они будут автоматически перечислены [*внизу*](#bottom) страницы в том порядке, в котором встретились в тексте.
Вы не можете делать более одного маркера для одного и того же описание.

*Markdown*

    Прочтите об этом в моей книге.[^1]

    [^1]: Полное название моей книги.


*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Прочтите об этом в моей книге.[^1]

[^1]: Полное название моей книги.

</div>

[↑ к оглавлению ↑](#top)


### Сокращения ### {{ "{#abbreviations}" }}

Вы можете задавать расшифровку аббревиатурам, упоминаемым в тексте.
Для этого в любом месте текста надо задать определение, аналогично сноскам.

*Markdown*

    The XHTML specification is maintained by the W3C.

    *[XHTML]: Extensible Hyper Text Markup Language
    *[W3C]:  World Wide Web Consortium

*HTML*

<pre><code>{%- filter markdown|escape -%}

The XHTML specification is maintained by the W3C.

*[XHTML]: Extensible Hyper Text Markup Language
*[W3C]:  World Wide Web Consortium

{%- endfilter -%}</code></pre>

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

The XHTML specification is maintained by the W3C.

*[XHTML]: Extensible Hyper Text Markup Language
*[W3C]:  World Wide Web Consortium

</div>

[↑ к оглавлению ↑](#top)


### Web-ссылки ### {{ "{#links}" }}

Есть два способа создать ссылку на какой-либо web-ресурс: первый -- поместить ссылку прямо в текст.
Заключите текст, который пользователь должен видеть и который будет выглядеть как ссылка
в квадратные скобки, а URL страницы в круглые так, чтобы комплекты скобок были написаны слитно.
Также вы можете добавить дополнительное описание, заключив его в одинарные кавычки и поместив после URL.
Если описание определено, то оно отображается во всплывающей подсказке.
Подведите курсор мыши к ссылке и через секунду подсказка появится.

*Markdown*

    Это [пример ссылки](http://example.com/ 'Дополнительное описание') помещенной в предложение.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Это [пример ссылки](http://example.com/ 'Дополнительное описание') помещенной в предложение.

</div>

Второй способ удобен для длинных ссылок.
Чтобы не загромождать текст, вы можете вставлять их подобно сноскам.
Добавьте короткий идентификатор с помощью второй пары квадратных скобок
(идентификатор может быть поясняющим словом, фразой или числом).
Затем, в любом месте документа (предпочтительней сразу после абзаца или вместе с другими ссылками в конце документа)
вы можете указать URL, связав его с идентификатором.

*Markdown*

    Это [пример ссылки][пс] помещенной в предложение.

    [пс]: http://example.com/ 'Дополнительное описание'

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Это [пример ссылки][пс] помещенной в предложение.

[пс]: http://example.com/ 'Дополнительное описание'

</div>

Результат второго способа будет точно такой же, как и у первого.
Это просто организационно более правильный способ создания документа, в будущем упрощающий его редактирование
(особенно, если вы работаете не один).

И последнее. Если вы хотите, чтобы ссылка представляла из себя сам URL, то просто поместите этот URL в угловые скобки.

[↑ к оглавлению ↑](#top)


### Картинки ### {{ "{#images}" }}

Картинки помещаются на страницу точно таким же образом, как и web-ссылки, но предваряются восклицательным знаком.
"Подпись" предназначена для пользователей, которые, по разным причинам, не смогут увидить картинку,
т.е. она должна описывать ее содержимое.
Кроме того, подпись полезна во время редактирования документа, для напоминания или подсказки того,
что за картинка будет отображена в данном месте.

"Описание" отображается во всплывающей подсказке тогда, когда пользователь
подводит указатель мыши к картинке и может использоваться в качестве дополнительного пояснения.

*Markdown*

    ![Подпись](/assets/platform/resources/images/platform.png 'Описание')

*HTML*

<pre><code>{%- filter markdown|escape -%}

![Подпись](/assets/platform/resources/images/platform.png 'Описание')

{%- endfilter -%}</code></pre>

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

![Подпись](/assets/platform/resources/images/platform.png 'Описание')

</div>

Вы можете разместить ссылки на рисунки в одном месте вашего документа подобно сносками и аналогично Web-ссылкам.
Просто дайте каждой картинке уникальное имя и в любом месте вашего документа сопоставьте это имя с файлом картинки.

*Markdown*

    ![][LOGO]

    [LOGO]: /assets/platform/resources/images/platform.png 'Platform'

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

![][LOGO]

[LOGO]: /assets/platform/resources/images/platform.png 'Platform'

</div>

[↑ к оглавлению ↑](#top)


### Картинка со ссылкой ### {{ "{#imageWithLink}" }}

Выше уже были приведены инструкции для создания [web-ссылок](#links) и вставки [картинок](#images).
Однако вы можете совместить две эти возможности и создать картинку,
которая является еще и ссылкой на какую-нибудь страницу в сети.

*Markdown*

    [Поисковая система Google][g_link]
    ![Логотип Google][g_logo]

Выше приведены обычная ссылка и обычное изображение. Вы можете поместите картинку туда, где указан текст ссылки.

*Markdown*

    [![Логотип Google][g_logo]][g_link]

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

[![Логотип Google][g_logo]][g_link]

[g_logo]: http://www.google.com/images/logo.gif
[g_link]: http://www.google.com/ 'Щелкните, чтобы посетить Google.com'

</div>

Нужно помнить, что приведенные выше ссылки должны быть определены где-либо в документе.

*Markdown*

    [g_logo]: http://www.google.com/images/logo.gif
    [g_link]: http://www.google.com/ 'Щелкните, чтобы посетить Google.com'

Такое совмещение создает картинку, щелчок по которой переместит вас на указанную ссылку.

[↑ к оглавлению ↑](#top)


### Использование специальных символов ### {{ "{#escape}" }}

Если вы хотите отобразить любой из специальных символов Markdown вместо того, чтобы использовать его для форматирования,
просто поставьте перед ним символ обратной косой черты ( "**\\**" ).
Сама косая черта не отображается, однако следующий за ней символ будет показан как есть.

[↑ к оглавлению ↑](#top)


### Перенос строк ### {{ "{#linebreaks}" }}

В некоторых текстах, например в поэзии, необходимо иметь возможность разделять абзац на несколько строк.
Использование клавиши Enter не даст ожидаемого эффекта, т.к. по умолчанию отдельные строки соединяются вместе,
чтобы текст выглядел как цельный абзац.

Однако, если вы закончите строку двумя символами "пробел", то следующая начнется с новой строки.

*Отображение*

<div class='panel panel-default panel-body' {{ "markdown='1'" }}>

Люблю грозу в начале мая,{{ "  " }}
Когда весенний первый гром,{{ "  " }}
Как бы резвяся и играя,{{ "  " }}
Грохочет в небе голубом.{{ "  " }}

</div>

[↑ к оглавлению ↑](#top)

-----


## Дополнительные возможности ## {{ "{#extension}" }}

При использование синтаксиса Markdown при редактировании материала появляются дополнительные возможности.
Они заключаются в возможности использования в качестве идентификаторов ссылок названия файлов и символьных кодов статьей.


### Ссылки на связанные статьи ### {{ "{#extension_links}" }}

Каждая статья может быть связана с дургими статьми.
Для этого необходимо наполнить блок "Связанные статьи".
У каждой статьи есть уникальный символьный код, который можно использовать в качестве идентификатора ссылки.
В качестве примера, приведём ссылку на статью с символьным кодом "article_code".

*Markdown*

    Это [ссылка][article_code] на связанную статью.

[↑ к оглавлению ↑](#top)


### Вставка изображений ### {{ "{#extension_image}" }}

У вас есть возможность добавлять картинки в текст.
Для этого надо сначала заполнить "Блок фотогалереи" подходящими изображениями.
У каждого изображения отображается его имя, которое можно использовать в ссылке.
Приведём пример для картинки с именем "image_001".

*Markdown*

    ![Картинка из блока фотогалереи][image_001]

Картинка может иметь три вида ориентации: горизонтальная, вертикальная и квадрат.

Для явного управления ориентацией необходимо в подпись картинки добавить один из трёх специальных символов:

Символ&nbsp;      | &nbsp;Ориентация
:-----------:|:----------------
 **\-**      | горизонтальная
 **\|**      | вертикальная
 **+**       | квадрат
 **\***      | соотношение сторон оригинала
 **@**       | размеры оригинала изображения

*Markdown*

    ![- Картинка из блока фотогалереи][image_001]
    ![| Картинка из блока фотогалереи][image_001]
    ![+ Картинка из блока фотогалереи][image_001]
    ![* Картинка из блока фотогалереи][image_001]
    ![@ Картинка из блока фотогалереи][image_001]

Кроме расположения картинки по умолчанию -- на всю ширину колонки, есть возможность выровнять её по центру,
по левому краю или по правому краю колонки.

За выравнивание отвечают следующие три специальных символа:

Символ&nbsp;      | &nbsp;Ориентация
:-----------:|:----------------
 **=**       | по центру
 **<**       | по левому краю
 **>**       | по правому краю

*Markdown*

    ![=- Картинка из блока фотогалереи][image_001]
    ![<| Картинка из блока фотогалереи][image_001]
    ![>+ Картинка из блока фотогалереи][image_001]

[↑ к оглавлению ↑](#top)


### Скачивание приложенных файлов ### {{ "{#extension_download}" }}

В текст материала можно добавлять ссылки на скачивание файлов, приложенных к материалу.
Для этого надо в блок "Вложения" загрузить один или несколько файлов с локального диска.
После этого в текст можно добавлять ссылку с именем файла, которое соответствует ему в блоке "Вложения".
Приведём пример для файла-вложения с именем "file_001".

*Markdown*

    Вы можете [скачать файл][file_001]

[↑ к оглавлению ↑](#top)

{% endfilter %}

			</div>
		</div>
	</div>
</div>
<div id="bottom" class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div>