{% extends "@PlatformCMS/admin/content.html.twig" %}
{% import "@PlatformCMS/macros.html.twig" as macros %}

{% block _admin_list_create_widget %}
	{%- set attr = attr|merge({ class: "btn btn-success"}) -%}
	<button type="{{ type|default('submit') }}" {{ block('button_attributes') }}>
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ label|trans({}, translation_domain) -}}
	</button>
{% endblock %}

{% block _admin_list_update_widget %}
	{%- set attr = attr|merge({ class: "btn btn-warning"}) -%}
	<button type="{{ type|default('submit') }}" {{ block('button_attributes') }}>
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ label|trans({}, translation_domain) -}}
	</button>
{% endblock %}

{% block _admin_list_delete_widget %}
	{%- set attr = attr|merge({ class: "btn btn-danger"}) -%}
	<button type="{{ type|default('submit') }}" {{ block('button_attributes') }}>
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ label|trans({}, translation_domain) -}}
	</button>
{% endblock %}

{% block content %}
	{{ knp_menu_render('admin_content', {style: 'tabs'}, 'twig') }}
	{% set icon_col_width = icon_col_width|default(0) %}
	{% set ignore_create = ignore_create|default(not (form.create is defined and is_granted("ROLE_EDITOR"))) %}
	<br/>
	{% block workarea %}
		{%- if tags|length -%}
			<p class="tags-cloud">
			{%- for nsName, tagsList in tags -%}
				{%- if nsName %}{{ nsName }}: {% endif -%}
				{%- for tag in tagsList -%}
					<a href="{{ tag.href }}" title="{{ tag.lead }}" class="tag-weight-{{ tag.weight }}">{{ tag.alias }}</a>
					{%- if not loop.last %}, {% endif %}
				{%- endfor -%}
				{%- if not loop.last %}<br/>{% endif -%}
			{%- endfor -%}
			</p>
		{%- endif -%}

		<div class="panel panel-default">
			<div class="panel-heading">
				{#- Блок поисковой строки. -#}
				<div class="row search-bar">
					<div class="col col-xs-12">
						<form method="get" action="?">
							<div class="input-group">
								{% if app.request.query.get('search') %}
									<span class="input-group-btn">
										<a class="btn btn-default" href="?" title="Отменить фильтрацию записей">
											<span class="glyphicon glyphicon-remove"></span>
										</a>
										{% for tag, url in searchTags %}
											<span class="btn btn-tag-rm" title="{{ (searchTagsMeta[tag]|default({parameters:{lead:""}})).parameters.lead|default("") }}">
												{{ tag }}
												<a href="{{ url }}" title="Убрать ярлык из условия фильтрации">
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</span>
										{% endfor %}
									</span>
								{% endif %}
								{% set placeholder = searchTags|length ? "" : "Фильтр по названию записей или по их ярлыкам" %}
								<input name="search" type="text" class="form-control" placeholder="{{ placeholder }}" value="{{ search }}">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Искать</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				{#- /блок поисковой строки -#}
			</div>

			{% form_theme form _self %}
			{{- form_start(form) -}}

			{#- Верхний блок групповых действий. -#}
			<div class="group_action_bar">
				<input type="checkbox" class="sr-only" id="select_all_checkbox">
				<div class="btn-group btn-group-xs tac-medium">
					<label class="btn btn-default" for="select_all_checkbox">
						<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
					</label>

					{% if not ignore_create %}
						<button class="btn btn-default" type="submit" name="admin_list[create]" value="1">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					{% else %}
						<button class="btn btn-default" type="submit" name="admin_list[update]" value="1">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					{% endif %}

					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Выбор действия</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{%- block group_actions -%}
							{% if not ignore_create %}
							<li>
								<button class="btn btn-default btn-xs" type="submit" name="admin_list[create]" value="1">
									<span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>
									<span>Создать новую запись</span>
								</button>
							</li>
							{% endif %}

							<li>
								<button class="btn btn-default btn-xs" type="submit" name="admin_list[update]" value="1">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>
									<span>Редактировать записи</span>
								</button>
							</li>

							{% if is_granted("ROLE_EDITOR") %}
								<li>
									<button class="btn btn-default btn-xs" type="submit" name="admin_list[delete]" value="1">
										<span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;</span>
										<span>Удалить записи</span>
									</button>
								</li>
							{% endif %}

							<li class="divider"></li>

							<li>
								<button class="btn btn-default btn-xs" type="submit" name="admin_list[bind]" value="1">
									<span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>
									<span>Назначить ярлыки</span>
									{% do form.bind.setRendered %}
								</button>
							</li>
						{%- endblock group_actions -%}
					</ul>
				</div>
			</div>
			{#- /верхний блок групповых действий. -#}

			<table class="table admin-list with-highlight">
				<colgroup>
					<col width="90" />
					{% if icon_col_width %}<col width="{{ icon_col_width }}"/>{% endif %}
					<col width="100%"/>
					<col width="128" class="hidden-xs hidden-sm"/>
					<col width="128" class="hidden-xs"/>
				</colgroup>
				<tbody>
				{% for code, item in list %}
					<tr>
						{{- block("list_column_todo") -}}
						{{- block("list_column_icon") -}}
						{{- block("list_column_name") -}}
						<td class="hidden-xs hidden-sm">
							<div>
								<span>{{ item.createdAt|date("d.m.Y\\&\\n\\b\\s\\p\\;H.i")|raw }}</span>
								<br/>
								<small>{{ item.createdBy }}</small>
							</div>
						</td>
						<td class="hidden-xs">
							<div>
								<span>{{ item.updatedAt|date("d.m.Y\\&\\n\\b\\s\\p\\;H.i")|raw }}</span>
								<br/>
								<small>{{ item.updatedBy }}</small>
							</div>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="panel-footer">
				<div class="row">
					<div class="col col-md-5">
						<div class="btn-group" role="group" aria-label="Действия">
							{%- if not ignore_create %}
								{{ form_widget(form.create) }}
							{% elseif form.create is defined %}
								{% do form.create.setRendered %}
							{% endif -%}
							{{- form_widget(form.update) -}}
							{%- if is_granted("ROLE_EDITOR") -%}
								{{- form_widget(form.delete) -}}
							{% else %}
								{% do form.delete.setRendered %}
							{%- endif -%}
						</div>
					</div>
					<div class="col col-md-1 col-sm-12">&nbsp;</div>
					<div class="col col-md-6 text-right">
						{{ macros.pager_widget(page, pages, route, app.request.query) }}
						{#
						<div class="btn-group" role="group" aria-label="Действия">
							{%- if prev -%}
								<a class="btn btn-primary" href="{{ prev }}" title="Перейти к предыдущей странице списка."><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>
							{%- endif -%}
							{%- if next -%}
								<a class="btn btn-primary" href="{{ next }}" title="Перейти к следющей странице списка." >Далее <span class="glyphicon glyphicon-arrow-right"></span></a>
							{%- endif -%}
						</div>
						#}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
		<div class="row">
			<div class="col col-xs-12 text-right">
				{% if list|length < total %}Показано записей: {{ list|length }} ({{ offset + 1 }} &mdash; {{ offset + list|length }}).  {% endif %}
				<span>{{ "Найдено записей: " ~ total }}.</span>
			</div>
		</div>
		<br/>
	{% endblock %}
	{{ parent() }}
	<div class="panel panel-info">
		<div class="panel-heading">
			<span>Пояснения к интерфейсу</span>
		</div>
		<div class="panel-body">
			{%- block interface_info -%}
			<p>
				<span>Данная страница является списочной, т.е. на ней выводится список неких элементов сайта. </span>
				<span>За выбор типа отображаемых элементов отвечает блок закладок, расположенный сразу после основного меню. </span>
				<span>При переключении между закладками данные о выбранной странице и условиях фильтрации не сохраняются. </span>
			</p>
			<p>
				<span>Следующий блок содержит список используемых ярлыков. </span>
				<span>Он служит для быстрого формирования условий фильтрации. </span>
				<span>Для добавления фильтрации по ярлыку, достаточно кликнуть по нему мышкой. </span>
				<span>После выбора ярлыка, список ярлыков изменяется в соответствии с результатами фильтрации списка элементов. </span>
			</p>
			<p>
				<span>Строка фильтра позволяет искать элементы по их названиям, символьным кодам, ярлыкам и внутренним идентификаторам. </span>
				<span>При этом имя ищется по его началу и с учётом регистра символов. </span>
				<span>Ярлыки же разделяются запятой и, как правило, их перечисление завершается точкой. </span>
				<span>Поиск по символьному коду ведётся по его началу, а для внутреннего идентификатора &mdash; по полному совпадению. </span>
				<span>Одновременной фильтрация по разным критериям &mdash; непредусмотренно. </span>
			</p>
			<p>
				<span>Далее располагается непосредственно список найденных элементов. </span>
				<span>Для каждой записи списка есть блок действий. </span>
				<span>Запись можно выделить для использования в групповых действиях или выбрать подходящее действияе из выпадающего списка. </span>
			</p>
			<p>
				<span>Список завершается управляющей панелью, на которой располагаются цветные кнопки. </span>
				<span>При их помощи можно добавить элемент, отредактировать или удалить выделенные элементы. </span>
				<span>Кроме этого в правой части панели, по необходимости, появляются кнопки постраничной навигации. </span>
			</p>
			{%- endblock interface_info -%}
		</div>
	</div>
{% endblock %}


{% block list_column_todo %}
	<td class="inline_actions">
		{{ form_widget(form[code], {attr: {class: "sr-only"}}) }}
		<div class="btn-group btn-group-xs tac-medium">
			<label class="btn btn-default" for="admin_list_{{ code }}">
				<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
			</label>
			<a href="{{ updateUrl|replace({ "777": item.id }) }}" type="button" class="btn btn-default">
				<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</a>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Выбор действия</span>
				</button>
			{% if is_granted("ROLE_EDITOR") %}
				<ul class="dropdown-menu" role="menu">
					{{- block("list_column_todo__actions") -}}
				</ul>
			{% else %}
				<ul class="dropdown-menu" role="menu">
					{% if updateUrl|default(false) %}<li><a href="{{ updateUrl|replace({ "777": item.id }) }}">Редактировать</a></li>{% endif %}
				</ul>
			{% endif %}
		</div>
		{{- block("list_column_todo__extended") -}}
	</td>
{% endblock %}


{% block list_column_todo__actions %}
	{% if updateUrl|default(false) %}<li><a href="{{ updateUrl|replace({ "777": item.id }) }}">Редактировать</a></li>{% endif %}
	{% if setTopUrl|default(false) %}<li><a href="{{ setTopUrl|replace({ "777": item.id }) }}">Поднять</a></li>{% endif %}
	{% if deleteUrl|default(false) %}<li><a href="{{ deleteUrl|replace({ "777": item.id }) }}">Удалить</a></li>{% endif %}
{% endblock %}


{% block list_column_todo__extended %}
{% endblock %}


{% block list_column_icon %}
{% endblock %}


{% block list_column_name %}
	<td class="name_in_list">
		<div class="nowrap-row">
			{{- block("list_column_name__info") -}}
		</div>
		{{- block("list_column_name__tags") -}}
	</td>
{% endblock %}


{% block list_column_name__info %}
	{{- item.name -}}
	{%- if item.parameters.lead|default("") -%}
		<small class="text-muted">  ●  {{ item.parameters.lead|striptags }}</small>
	{%- endif -%}
{% endblock %}


{% block list_column_name__tags %}
	{% for tag in item.tags|default([])|sort if tag|first != '-' %}
		<span class="label label-default">{{ tag }}</span>
	{% else %}
		{{- " " -}}
	{% endfor %}
{% endblock %}