{% extends "@PlatformCMS/admin/content/_list.html.twig" %}


{% block head_meta %}
	{{ parent() }}
	{% set rss = app.url("api-content-articles-rss?roles=ROLE_USER&search=" ~ app.request.query.get("search")) %}
	<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="{{ rss }}">
{% endblock %}


{% block workarea %}
	{% set updateUrl = url("admin-content-articles-update",  {id: 777}) %}
	{% set setTopUrl = url("admin-content-articles-set-top", {id: 777}) %}
	{% set deleteUrl = url("admin-content-articles-delete",  {ids: 777}) %}
	{% set tgStarUrl = url("admin-content-articles-star",    {id: 777}) %}
	{% set headingFlag = app.getOption("content.headings") %}
	{% set icon_col_width = 80 %}
	{{ parent() }}
{% endblock %}


{% block list_column_icon %}
	<td>
		{% if item.icon %}
			<img src="{{ app.url('image', {hash: item.icon, width: 154, height: 96}) }}" width="77" height="48" />
		{% else %}
			<div class="content-no-icon"></div>
		{% endif %}
	</td>
{% endblock %}


{% block list_column_name__tags %}
	<span class="label label-info h-simple-select">{{ item.code }}</span>
	{%- if headingFlag -%}
		{%- set heading = item.getHeadingName() -%}
		{%- if heading -%}
			<span class="label label-success">
				<a href="?search=Раздел:{{ heading }}">{{ heading }}</a>
			</span>
		{%- elseif item.getIsDraft() -%}
			<span class="label label-danger">черновик</span>
		{%- endif -%}
	{%- endif -%}

	{{- parent() -}}

	{%- if item.parameters.attachments|default(false) -%}
		{%- for file in item.parameters.attachments -%}
			<span class="label label-attachment">{{ file }}</span>
		{%- endfor -%}
	{%- endif -%}
{% endblock %}
