{% extends "@PlatformCMS/admin/content/_form.html.twig" %}

{% block workarea %}
	{{ form_start(form) }}

	<div class="row">
		<div class="col-md-5 col-sm-8 col-xs-12">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-2 col-sm-4">
			<span class="hidden-xs" style="margin-left: -15px;"></span>
			<span class="label label-default" title="{{ item.hash }}">
				{{- item.smallHash -}}
			</span>
			{{- "&nbsp;" -}}
			<span class="label label-default">
				{{- (item.parameters|default({})).width|default('') -}}
				x
				{{- (item.parameters|default({})).height|default('') -}}
			</span>
			{{- "&nbsp;" -}}
			{%- set size = (item.parameters|default({})).size|default('0') -%}
			<span class="label label-default" title="{{ size }} bayts">
				{{- (size // 1024) ~ "K" -}}
			</span>
		</div>
		<div class="col-md-5 col-sm-12 text-right">
			<div class="btn-group btn-group-sm" role="group">
				<br class="visible-xs"/>
				{% if (is_granted("ROLE_EDITOR") or is_granted("ROLE_CLIENT")) and not locked %}
					{{ form_widget(form.commit) }}
					{{ form_widget(form.apply) }}
					{{ form_widget(form.cancel) }}
					{{ form_widget(form.delete) }}
				{% else %}
					{{ form_widget(form.cancel) }}
					{% do form.commit.setRendered %}
					{% do form.apply.setRendered %}
					{% do form.delete.setRendered %}
				{% endif %}
				<br/>&nbsp;
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{ form_widget(form.lead) }}<br/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{ form_widget(form.tags, {attr: {class: "m-select2", "data-placeholder": "Ярлыки", "data-tags": true, style: "width:100%;"}}) }}
		</div>
	</div>
	<br/>
	<div id="img-cropper" class="img-cropper" role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
			{% for kind, ratio in kinds %}
				<li role="presentation" class="{% if loop.first %}first{% endif %}">
					<a href="#tab{{ kind }}" data-kind="{{ kind }}" data-ratio="{{ ratio }}" data-id-prefix="admin_update_crop{{ kind }}" aria-controls="tab{{ kind }}" role="tab" data-toggle="tab">
						{{ form_widget(form["crop" ~ kind ~ "_a"], {attr: {disabled: loop.first}}) }}
						<span> {{ kind }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<br/>
		<div class="row row-img-cropper">
			<div class="col-md-8">
				<div class="thumbnail img-container">
					<img class="cropper" src="{{ app.url('image', {hash: item.hash, width: 0, height: 0, remember: false}) }}" >
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default clearfix">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<span class="label label-default"></span>
							</div>
							<div class="col-xs-6 text-right">
								<span class="label label-info"></span>
								{{- "&nbsp;" -}}
								<span class="label label-success"></span>
							</div>
						</div>
					</div>
					<div class="img-preview-container">
						<div class="img-preview"></div>
					</div>
				</div>
				<div class="tab-content">
					{% for kind, ratio in kinds %}
						<div role="tabpanel" class="tab-pane row" id="tab{{ kind }}">
							{% if useWatermark %}
							<div class="col-xs-12">
								{{ form_row(form["watermark" ~ kind]) }}
							</div>
							{% endif %}
							{% if useMask %}
								<div class="col-xs-8">
									{{ form_widget(form["hide_mask" ~ kind]) }}
								</div>
							{% endif %}
							<div class="col-xs-4 text-right">
								<div class="btn-group btn-group-xs" role="group">
									{{ form_widget(form["copy" ~ kind]) }}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{%- set usedListTitle = "Статьи, использующие данное изображение" -%}
	{{- block("usedList") -}}

	{{ form_end(form) }}
	<hr/>
{% endblock %}


{%- block history_changes -%}
	{% if diff["name"]|default(false) %}
		<li>
			<strong>Название</strong>
			{% if not diff["name"][0] %}
				<span> добавлено: </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% else %}
				<span> изменено. Было </span>
				<i>«{{ diff["name"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

	{% if diff["parameters.lead"]|default(false) %}
		<li>
			<strong>Текстовое описание</strong>
			{% if not diff["parameters.lead"][0] %}
				<span> добавлено: </span>
				<i>«{{ diff["parameters.lead"][1] }}».</i>
			{% elseif not diff["parameters.lead"][1] %}
				<span> удалено. Было: </span>
				<i>«{{ diff["parameters.lead"][0] }}».</i>
			{% else %}
				<span> изменено. Было </span>
				<i>«{{ diff["parameters.lead"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["parameters.lead"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

	{{- parent() -}}

	{% if diff["parameters.kinds"]|default(false) %}
		<li>
			<strong>Список кропов</strong>
			<span> был изменён. </span>
			{% if diff["parameters.kinds"][0] %}
				{% if diff["parameters.kinds"][0]|length > 1 %}<span> Удалены: </span>{% else %}<span> Удалён кроп </span>{% endif %}
				<i>
					{%- for kind in diff["parameters.kinds"][0] -%}
						{%- if not loop.first %}{{ ", " }}{% endif -%}
						«{{ kind }}»
					{%- endfor -%}
				.</i>
			{% endif %}
			{% if diff["parameters.kinds"][1] %}
				{% if diff["parameters.kinds"][1]|length > 1 %}<span> Добавлены: </span>{% else %}<span> Добавлен кроп </span>{% endif %}
				<i>
					{%- for kind in diff["parameters.kinds"][1] -%}
						{%- if not loop.first %}{{ ", " }}{% endif -%}
						«{{ kind }}»
					{%- endfor -%}
					.</i>
			{% endif %}
		</li>
	{% endif %}

	{% for entity in app.serviceHistory.findByRequestId(record.requestId) %}
		{% set diff = entity.parameters %}
		{% set watermark1 = ["", "правый верхний",   "правый нижний",   "левый нижний",   "левый верхний"]   %}
		{% set watermark2 = ["", "правого верхнего", "правого нижнего", "левого нижнего", "левого верхнего"] %}
		{% if diff["kind"]|default(false) and diff["parameters.crop"]|default(diff["parameters.watermark"]|default(diff["parameters.hide_mask"]|default(false))) %}
			<li>Кроп под <i>«{{ diff["kind"] -}}»:</i>
				<ul>
					{% if diff["parameters.crop"]|default(false) %}
						<li>
							<strong>Область</strong>
							{% if not diff["parameters.crop"][0] or diff["parameters.crop"][0] == "0,0,0,0" %}
								<span> была добавлена: </span>
								<i>«{{ diff["parameters.crop"][1] }}».</i>
							{% elseif not diff["parameters.crop"][1] or diff["parameters.crop"][1] == "0,0,0,0" %}
								<span> была удалена. Было </span>
								<i>«{{ diff["parameters.crop"][0] }}».</i>
							{% else %}
								<span> была изменена. Было </span>
								<i>«{{ diff["parameters.crop"][0] }}»,</i>
								<span> стало </span>
								<i>«{{ diff["parameters.crop"][1] }}».</i>
							{% endif %}
						</li>
					{% endif %}

					{% if diff["parameters.watermark"]|default(false) %}
						<li>
							<strong>Логотип</strong>
							{%- if not diff["parameters.watermark"][0] -%}
								<span> был установлен в </span>
								<i>«{{ watermark1[diff["parameters.watermark"][1]] }}»</i> угол.
							{%- elseif not diff["parameters.watermark"][1] -%}
								<span> был убран. </span>
							{%- else -%}
								<span> был перемещён из </span>
								<i>«{{ watermark2[diff["parameters.watermark"][0]] }}» угла,</i>
								<span> в </span>
								<i>«{{ watermark1[diff["parameters.watermark"][1]] }}»</i> угол.
							{%- endif -%}
						</li>
					{% endif %}

					{% if diff["parameters.hide_mask"]|default(false) %}
						<li>
							<strong>Маска</strong>
							{%- if diff["parameters.hide_mask"][1] -%}
								<span> была отключена. </span>
							{%- else -%}
								<span> была включена. </span>
							{%- endif -%}
						</li>
					{% endif %}
				</ul>
			</li>
		{% endif %}
	{% endfor %}

{%- endblock history_changes -%}
