{% extends "@PlatformCMS/admin/content/_list.html.twig" %}


{% block head_meta %}
	{{ parent() }}
	{% set rss = app.url("api-content-images-rss?roles=ROLE_USER&search=" ~ app.request.query.get("search")) %}
	<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="{{ rss }}">
{% endblock %}


{% block workarea %}
	{% set updateUrl = url("admin-content-images-update",  {id: 777}) %}
	{% set setTopUrl = url("admin-content-images-set-top", {id: 777}) %}
	{% set deleteUrl = url("admin-content-images-delete",  {ids: 777}) %}
	{% set headingFlag = app.getOption("content.headings") %}
	{% set icon_col_width = 48 %}
	{% set ignore_create = true %}

	{{ parent() }}

	<div class="panel panel-default">
		<div class="panel-heading">
			{{ form(upload) }}
		</div>
	</div>
{% endblock %}


{% block list_column_todo__extended %}
	{{- parent() -}}
	<span class="label">
		{% set args = {hash: item.hash, width: item.parameters.width, height: item.parameters.height, remember: false } %}
		<a target="_blank" href="{{ app.url('image', args) }}">{{ item.smallHash }}</a>
	</span>
{% endblock %}


{% block list_column_icon %}
	<td>
		<img src="{{ app.url('image', {hash: item.hash, width: 96, height: 96}) }}" width="48" height="48" />
	</td>
{% endblock %}


{% block list_column_name__tags %}
	<span class="label label-info">{{ item.parameters.width ~ "x" ~ item.parameters.height }}</span>
	{% if headingFlag %}
		{% set heading = item.getHeadingName() %}
		{% if heading %}
			<span class="label label-success">{{ heading }}</span>
		{% elseif item.getIsDraft() %}
			<span class="label label-danger">черновик</span>
		{% endif %}
	{% endif %}
	{{- parent() -}}
{% endblock %}


{% block interface_info %}
	{{ parent() }}
	<p>
		<span>Завершающий блок отвечает за добавление изображений, путём их загрузки с локального компьютера на сервер.</span>
	</p>
{% endblock %}
