{% extends "@PlatformCMS/admin/content/_form.html.twig" %}

{% block workarea %}
	{{ form_start(form) }}
	<style>label{margin-bottom:2px;}</style>

	<div class="row">
		<div class="col-md-5 col-sm-12 col-xs-12">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-2 col-md-push-0 col-sm-10 col-sm-push-2">
		</div>
		<div class="col-md-5 col-sm-12 text-right">
			<div class="btn-group btn-group-sm" role="group">
				<br class="visible-sm visible-xs"/>
				{% if is_granted("ROLE_EDITOR") and not locked %}
					{{ form_widget(form.commit) }}
					{{ form_widget(form.apply) }}
					{{ form_widget(form.cancel) }}
					{{ form_widget(form.delete) }}
				{% else %}
					{{ form_widget(form.cancel) }}
					{% do form.commit.setRendered %}
					{% do form.apply.setRendered %}
					{% do form.delete.setRendered %}
				{% endif %}
				<span class="visible-sm"><br/>&nbsp;</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br class="visible-sm visible-xs"/>
			{{ form_widget(form.tags, {attr: {class: "m-select2", "data-placeholder": "Ярлыки", "data-tags": true, style: "width:100%;"}}) }}
		</div>
	</div>
	<hr/>

	{{ form_widget(form) }}
	{{ form_end(form) }}

	<br/><hr/>
{% endblock %}


{%- block history_changes -%}
	{% if diff["name"]|default(false) %}
		<li>
			<strong>Название</strong>
			{% if not diff["name"][0] %}
				<span> добавлено: </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% else %}
				<span> изменено. Было </span>
				<i>«{{ diff["name"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

	{{- parent() -}}

	{% for key, name in {"parameters.nominativus": "Кто/Что","parameters.genitivus": "Кого/Чего","parameters.dativus": "Кому/Чему","parameters.accusativus": "Кого/Что","parameters.instrumentalis": "Кем/Чем","parameters.praepositionalis": "О ком/чём"} %}
		{% if diff[key]|default(false) %}
			<li>
				<strong>{{ name }}</strong>
				{% if not diff[key][0] %}
					<span> добавлено: </span>
					<i>«{{ diff[key][1]|join("», «") }}».</i>
				{% elseif not diff[key][1] %}
					<span> удалено. Было </span>
					<i>«{{ diff[key][0]|join("», «") }}».</i>
				{% else %}
					<span> изменено. Было </span>
					<i>«{{ diff[key][0]|join("», «") }}»,</i>
					<span> стало </span>
					<i>«{{ diff[key][1]|join("», «") }}».</i>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}

	{% for key, name in {"href": "Ссылка","parameters.title": "Подсказка"} %}
		{% if diff[key]|default(false) %}
			<li>
				<strong>{{ name }}</strong>
				{% if not diff[key][0] %}
					<span> добавлена: </span>
					<i>«{{ diff[key][1] }}».</i>
				{% elseif not diff[key][1] %}
					<span> удалена. Было </span>
					<i>«{{ diff[key][0] }}».</i>
				{% else %}
					<span> изменена. Было </span>
					<i>«{{ diff[key][0] }}»,</i>
					<span> стало </span>
					<i>«{{ diff[key][1] }}».</i>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}

	{% if diff["class"]|default(false) %}
		<li>
			<strong>CSS класс</strong>
			{% if not diff["class"][0] %}
				<span> добавлен: </span>
				<i>«{{ diff["class"][1] }}».</i>
			{% elseif not diff["class"][1] %}
				<span> удалён. Было </span>
				<i>«{{ diff["class"][0] }}».</i>
			{% else %}
				<span> изменён. Было </span>
				<i>«{{ diff["class"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["class"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

	{% for key, name in {"parameters.open_tab": "открытия в новой вкладке","parameters.nofollow": "запрета индексации роботами", "parameters.is_abbr": "аббревиатуры", "parameters.use_name": "замены фразы названием"} %}
		{% if diff[key]|default(false) %}
			<li>
				<strong>Флаг</strong>
				<span> {{ name }} </span>
				{% if diff[key][1] %}
					<span> установлен. </span>
				{% else %}
					<span> снят. </span>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}



{%- endblock history_changes -%}