{% extends "@PlatformCMS/admin/content/_form.html.twig" %}

{% block workarea %}
	{{ form_start(form) }}
	<div class="has-error">
		{{ form_errors(form.code) }}
	</div>

	<div class="row">
		<div class="col-md-5 col-sm-12 col-xs-12">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-2 col-md-push-0 col-sm-10 col-sm-push-2">
			{{ form_widget(form.kind) }}
		</div>
		<div class="col-md-5 col-sm-12 text-right">
			<div class="btn-group btn-group-sm" role="group">
				<br class="visible-sm visible-xs"/>
				{% if is_granted("ROLE_EDITOR") and not locked %}
					{{ form_widget(form.commit) }}
					{{ form_widget(form.apply) }}
					{{ form_widget(form.cancel) }}
					{{ form_widget(form.delete) }}
				{% else %}
					{{ form_widget(form.cancel) }}
					{% do form.commit.setRendered %}
					{% do form.apply.setRendered %}
					{% do form.delete.setRendered %}
				{% endif %}
				<span class="visible-sm"><br/>&nbsp;</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<br class="visible-sm visible-xs"/>
			{{ form_widget(form.tags, {attr: {class: "m-select2", "data-placeholder": "Ярлыки", "data-tags": true, style: "width:100%;"}}) }}
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			{{ form_widget(form.lead, {attr: {placeholder: "Описание ярлыка и его назначения"}}) }}
		</div>
	</div>

	{{ form_end(form) }}

	<br/><hr/>
{% endblock %}


{%- block history_changes -%}
	{% if diff["name"]|default(false) %}
		<li>
			<strong>Название</strong>
			{% if not diff["name"][0] %}
				<span> добавлено: </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% else %}
				<span> изменено. Было </span>
				<i>«{{ diff["name"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["name"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

	{% if diff["kind"]|default(false) %}
		{% set kinds = ["обычный", "синоним", "системный"] %}
		<li>
			<strong>Тип</strong>
			<span> изменён. Был </span>
			<i>«{{ kinds[diff["kind"][0]]|default("неизвестный") }}»,</i>
			<span> стал </span>
			<i>«{{ kinds[diff["kind"][1]]|default("неизвестный") }}».</i>
		</li>
	{% endif %}

	{{- parent() -}}

	{% if diff["parameters.lead"]|default(false) %}
		<li>
			<strong>Описание</strong>
			{% if not diff["parameters.lead"][0] %}
				<span> добавлено: </span>
				<i>«{{ diff["parameters.lead"][1] }}».</i>
			{% elseif not diff["parameters.lead"][1] %}
				<span> удалено. Было: </span>
				<i>«{{ diff["parameters.lead"][0] }}».</i>
			{% else %}
				<span> изменено. Было </span>
				<i>«{{ diff["parameters.lead"][0] }}»,</i>
				<span> стало </span>
				<i>«{{ diff["parameters.lead"][1] }}».</i>
			{% endif %}
		</li>
	{% endif %}

{%- endblock history_changes -%}