{% extends "@PlatformCMS/admin/users/_list.html.twig" %}


{% block workarea %}
	{% set updateUrl = url("admin-users-profiles-update", {id: 777}) %}
	{% set deleteUrl = url("admin-users-profiles-delete", {ids: 777}) %}
	{% set tgStarUrl = url("admin-users-profiles-star", {id: 777}) %}
	{{ parent() }}
{% endblock %}


{% block list_column_name__info %}
	<span class="glyphicon glyphicon-user"></span>
	{{- "&nbsp;"|raw -}}
	{{- item.name -}}
	<small class="text-muted">  ●  {{ item.email }} ● {{ item.parameters.second_name|default("") ~ " " ~ item.parameters.first_name|default("") ~ " " ~ item.parameters.patronymic|default("") }}</small>
{% endblock %}


{% block list_column_name__tags %}
	{%- if item.parameters.roles|default(false) -%}
		{%- for role in item.parameters.roles -%}
			<span class="label label-info">{{ roles[role]|default(role) }}</span>
		{%- endfor -%}
	{%- else -%}
		<span class="label label-danger">●</span>
	{%- endif -%}

	{{- parent() -}}
{% endblock %}
